<div class="content">
  <div class = "content-text">
    <h1 class = "content-text__time"> <%= addHour(@dateTime1, @section1).strftime("%H:%M") %> </h1>
    <p class = "content-text__name"> <%= "#{@lunch_restaurant_name}"%> </p>
    <p>タイトル</p>
    <p> <%= "#{@lunch_restaurant_address}"%> </p>
    <p> <%= "#{@luncn_restaurant_text}"%> </p>
    <div class = "content-text__link">
      <%= link_to "ぐるなび詳細", "#{@lunch_restaurant_link}", class: "content-text__link__gurunavilink" %>
    </div>
  </div>
  <div class = "content-image" id= "content-image__right">
      <%= image_tag "#{@lunch_restaurant_image}", alt: "sample image" %>
  </div>
</div>