<div class="destination-header">
  <h1 class="destination-title"><%= "#{@place.name}" %>満喫プラン</h1>
    <div class="date">日付  <%= strDate(@dateTime1) %></div>
    <div class="time_for">出発時間  <%= strTime(@dateTime1) %></div>
    到着  <%= addHour(@dateTime1, @section1).strftime("%H:%M") %><br>
    <br>
    ランチ  店名:<%= "#{@lunch_restaurant_name}"%> <%= addHour(@dateTime1, @section1).strftime("%H:%M") %>〜<%= addHour(@dateTime1, @section1+3600).strftime("%H:%M") %><br>
  <% if @subplace %>
    <%= "#{@place.name}" %> <%= addHour(@dateTime1, @section1+3600+@section2).strftime("%H:%M") %>〜<%= addHour(@dateTime1, @section1+3600+@section2+(3600*4)).strftime("%H:%M") %><br>
    <%= "#{@subplace.name}" %> <%= addHour(@dateTime1, @section1+3600+@section2+(3600*4)+@section3).strftime("%H:%M") %>〜<%= addHour(@dateTime1, @section1+3600+@section2+(3600*4)+@section3+(3600*2)).strftime("%H:%M") %><br>
  <% else %>
    <%= "#{@place.name}" %> <%= addHour(@dateTime1, @section1+3600+@section2).strftime("%H:%M") %>〜<%= addHour(@dateTime1, @section1+3600+@section2+(3600*6)).strftime("%H:%M") %><br>
  <%end%>
    ディナー  店名:<%= "#{@restaurant_name}"%> <%= addHour(@dateTime1, @section1+3600+@section2+(3600*5)+@section3).strftime("%H:%M") %>〜<br>
</div>

<div class="contents">

  <%= render partial: "lunchRight"%>
  <%= render partial: "placeLeft"%>
  <% if @subplace %>
   <%= render partial: "subplaceRight"%>
   <%= render partial: "dinnerLeft"%>
  <% else %>
   <%= render partial: "dinnerRight"%>
  <%end%>

</div>