<div class="destination-header">
  <h1 class="destination-title"><%= "#{@place.name}" %>満喫プラン</h1>
    <div class="date">日付  <%= @date %></div>
    <div class="time_for">サンプル出発時間  <%= calc_departure_time(@date, @section1) %></div>
    サンプル到着  <%= display_lunch_arrival() %>
    <br>
    ランチ  店名:<%= "#{@lunch_restaurant_name}"%> <%= display_lunch_time() %><br>
  <% if @subplace %>
    <%= "#{@place.name}" %> <%= place_stay_time(@date, @section2) %><br>
    <%= "#{@subplace.name}" %> <%= subplace_stay_time(@date, @section3) %><br>
    ディナー  店名:<%= "#{@restaurant_name}"%> <%= dinner_start_time(@section4) %>
  <% else %>
    <%= "#{@place.name}" %> <%= place_stay_time(@date, @section2) %><br>
    ディナー  店名:<%= "#{@restaurant_name}"%> <%= dinner_start_time(@section3) %><br>
  <%end%>

</div>

<div class="contents">

  <%= render partial: "lunchRight"%>
  <%= render partial: "placeLeft"%>
  <% if @subplace %>
   <%= render partial: "subplaceRight"%>
   <%= render partial: "dinnerLeft"%>
  <% else %>
   <%= render partial: "dinnerRight"%>
  <%end%>

</div>