<% @searches.each do |search| %>
  <div class="search_result">
    <h2 class="search_post_head"><%= search.place.name %>満喫プラン
    <% if search.user%>
    <span style="font-size:0.7em;" class="search_post_nickname">投稿者: <%= search.user.nickname%></span>
    <% end %>
    </h2>
    <div class="search_postcontent">
      <div class="search_postcontent_place">
        <div class="post_place_content">
          <p class="post_place_title"> <%= search.lunch_name %> </p><br>
          <%= image_tag "#{search.lunch_image}", alt: "店舗画像はありません 下記のぐるなび詳細からお確かめください", size: '130x60' %>
        </div>
        <div class="post_place_content">
          <p class="post_place_title"> <%= search.place.name %> </p><br> 
          <%= image_tag "#{search.place.image}", alt: "店舗画像はありません 下記のぐるなび詳細からお確かめください", size: '130x60' %>
        </div>
        <% if search.subplace_id%>
        <div class="post_place_content">
          <p class="post_place_title"> <%= search.subplace.name %> </p><br>
          <%= image_tag "#{search.subplace.image}", alt: "店舗画像はありません 下記のぐるなび詳細からお確かめください", size: '130x60' %>
        </div>
        <% end %>
        <div class="post_place_content">
          <p class="post_place_title"> <%= search.dinner_name %> </p><br>
          <%= image_tag "#{search.dinner_image}", alt: "店舗画像はありません 下記のぐるなび詳細からお確かめください", size: '130x60' %>
        </div>
      </div>
      <div class="comment_and_buttn">
      <div class="plan_comment">
        投稿者のコメント：　<%= search.plan_comment%>
      </div>
      <div class="use_plan_link">
        <%= link_to "このプランの詳細", places_search_path(search.id), class: "use_plan_buttn" %>
      </div>
      </div>
    </div>
  </div>
<% end %>