<% if current_user.try(:admin?) %>
      <div class="page-header">
        <h1>管理者マイページ</h1>
      </div>
      <p class="admin_btn col-xs-offset-1 col-xs-10 col-xs-offset-1"><%= link_to "管理画面", "/admin" %></p>
  <% else %>
    <div class="page-header">
      <h1>マイページ</h1><br>
    </div>
<% end %>
<%= link_to "ユーザー情報を編集する", edit_user_registration_path, class: "mapage_user_edit" %>


<% @posts.each do |post| %>
  <div class="content">
    <div class="content__left">
      <div class="content__left--image"></div>
    </div>
    <div class="content__right">
      <div class="content__right__top">
        場所: <%= post.place %>
      </div>
      <div class="content__right__top">
        オススメ文: <%= post.content %>
      </div>
      <div class="content__right__bottom">
        <div class="content__right__bottom--date">
          <%= post.created_at %>
        </div>
        <%= link_to "詳細", post_path(post.id), class: "content__right__top--title" %>
      </div>
    </div>
  </div>
<% end %>