<% if current_user.try(:admin?) %>
      <div class="page-header">
        <h1>管理者マイページ</h1>
      </div>
      <p class="admin_btn col-xs-offset-1 col-xs-10 col-xs-offset-1"><%= link_to "管理画面", "/admin" %></p>
  <% else %>
    <div class="page-header">
      <h1>マイページ<br>
        <small><%= current_user.nickname %>さん、こんにちは！</small>
      </h1>
    </div>
    <p>マイページではプラン一覧を確認できます。</p>
<% end %>

<div class="postTitle">
  <%= @user.nickname %>さんのプラン一覧
</div>

<% @posts.each do |post| %>
  <div class="content">
    <div class="content__left">
      <div class="content__left--image"></div>
    </div>
    <div class="content__right">
      <div class="content__right__top">
        場所: <%= post.place %>
      </div>
      <div class="content__right__top">
        オススメのお店: <%= post.restaurant %>
      </div>
      <div class="content__right__top">
        オススメ文: <%= post.content %>
      </div>
      <div class="content__right__bottom">
        <div class="content__right__bottom--date">
          <%= post.created_at %>
        </div>
        <%= link_to "詳細", post_path(post.id), class: "content__right__top--title" %>
      </div>
    </div>
  </div>
<% end %>