<div class="content__title">
  プランの編集
</div>
<%= form_with model: @post, class: :form, local: true do |form| %>
  <%= form.text_field :place, placeholder: :場所, class: :form__title %>
  <%= form.text_field :restaurant, placeholder: :レストラン, class: :form__title %>
  <%= form.text_area :content, placeholder: :プラン文, class: :form__text %>
  <%= form.submit '投稿する', class: :form__btn %>
<% end %>