<% @posts.each do |post| %>
  <div class="postcontent">
    <div class="postcontent__left">
      <div class="postcontent__left--image"></div>
    </div>
    <div class="postcontent__right">
      <div class="postcontent__right__top">
        メインの場所: <%= post.place %>
      </div>
      <div class="postcontent__right__text">
        オススメ文: <%= post.content %>
      </div>
      <div class="postcontent__right__bottom">
        <div class="postcontent__right__bottom--date">
          <%= post.created_at %>
        </div>
        <%= link_to "詳細", post_path(post.id), class: "postcontent__right__top--title" %>
        <% if user_signed_in? && current_user.id == post.user_id %>
        <div class="postManage">
          <%= link_to "編集", edit_post_path(post.id), class: "postManage__edit" %>
          <%= link_to "削除", post_path(post.id), method: :delete, class: "postManage__delete" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>