<div class="contents2">
  <% @places.each do |place| %>
    <div class="content">
      <div class="content__left">
        <div class="content__left--image"><%= image_tag "#{place.image}", :size =>'300x150' %></div>
      </div>
      <div class="content__right">
        <div class="content__right__top">
          <%= place.name %>
        </div>
        <div class="content__right__top">
          <%= place.address %>
        </div>
        <div class="content__right__top">
          tel: <%= place.tel %>
        </div>
        <div class="content__right__top">
          <%= link_to "#{place.link}", "#{place.link}" %>
        </div>
        <div class="content__right__bottom">
        </div>
      </div>
    </div>
  <% end %>
</div>