<form action="/places/searchword" class="search_function">
  <input name="keyword" type='text' id="keyword" class="form-control" placeholder="行きたいメインの場所を検索してください">
  <button type="submit" id="submit" class="btn">検索</button>
  <nav>
    <ul class="main_menu">
        <li><a href="#">都道府県から探す</a>
            <ul>
                <li><a href="">大阪府</a>
                    <ul>
                        <li><%= link_to "海遊館", searchresult_places_path(key: 1) %></li>
                        <li><%= link_to "USJ", searchresult_places_path(key: 2) %></li>
                        <li><%= link_to "難波city", searchresult_places_path(key: 3) %></li>
                        <li><%= link_to "大阪城", searchresult_places_path(key: 4) %></li>
                        <li><%= link_to "エキスポシティ", searchresult_places_path(key: 5) %></li>
                    </ul>
                </li>
                <li><a href="">京都府</a>
                    <ul>
                        <li><%= link_to "京都水族館", searchresult_places_path(key: 6) %></li>
                        <li><%= link_to "京都タワー", searchresult_places_path(key: 7) %></li>
                        <li><%= link_to "嵐山", searchresult_places_path(key: 8) %></li>
                    </ul>
                </li>
                <li><a href="">兵庫県</a>
                    <ul>
                        <li><%= link_to "城崎マリンワールド", searchresult_places_path(key: 9) %></li>
                        <li><%= link_to "メリケンパーク・ハーバーランド", searchresult_places_path(key: 10) %></li>
                        <li><%= link_to "淡路島　淡路ファームパークイングランドの丘", searchresult_places_path(key: 11) %></li>
                    </ul>
                </li>
                <li><a href="">奈良県</a>
                    <ul>
                        <li><%= link_to "奈良公園", searchresult_places_path(key: 12) %></li>
                        <li><%= link_to "ならまち", searchresult_places_path(key: 13) %></li>
                        <li><%= link_to "法隆寺", searchresult_places_path(key: 14) %></li>
                    </ul>
                </li>
                <li><a href="">和歌山県</a>
                    <ul>
                        <li><%= link_to "アドベンチャーワールド", searchresult_places_path(key: 15) %></li>
                        <li><%= link_to "とれとれ市場　南紀白浜", searchresult_places_path(key: 16) %></li>
                        <li><%= link_to "円月島", searchresult_places_path(key: 17) %></li>
                    </ul>
                </li>
                <li><a href="">滋賀県</a>
                    <ul>
                        <li><%= link_to "彦根城", searchresult_places_path(key: 18) %></li>
                        <li><%= link_to "なぎさ公園", searchresult_places_path(key: 19) %></li>
                        <li><%= link_to "びわ湖バレイ", searchresult_places_path(key: 20) %></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">種類から探す</a>
            <ul>
                <li><a href="">テーマパーク</a>
                    <ul>
                    <li><%= link_to "USJ", searchresult_places_path(key: 2) %></li>
                    <li><%= link_to "城崎マリンワールド", searchresult_places_path(key: 9) %></li>
                    <li><%= link_to "アドベンチャーワールド", searchresult_places_path(key: 15) %></li>

                    </ul>
                </li>
                <li><a href="">動物園・水族館</a>
                    <ul>
                    <li><%= link_to "海遊館", searchresult_places_path(key: 1) %></li>
                    <li><%= link_to "京都水族館", searchresult_places_path(key: 6) %></li>
                    <li><%= link_to "アドベンチャーワールド", searchresult_places_path(key: 15) %></li>
                </li>
                    </ul>                        
                </li>
                <li><a href="">公園</a>
                    <ul>
                    <li><%= link_to "大阪城公園", searchresult_places_path(key: 4) %></li>
                    <li><%= link_to "奈良公園", searchresult_places_path(key: 12) %></li>
                    <li><%= link_to "なぎさ公園", searchresult_places_path(key: 19) %></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>
</form>