
<h3>条件を入力してください(*は必須)</h3>
<form>
  <div class="required">
    出発地<br>
    <input type="text" class="address" placeholder="出発地の住所を入力してください"> *<br>
    お出かけの日時を入力してください<br>
    <input type="date" class="date" name="date1"> *<br>
    <input type="time" class="time" name="time1">〜<input type="time" name="time2"> *<br>
    あなたの性別は？<br>
    <label>
      <input type="radio" name="RadioGroup1" value="20">男性
    </label>
    <label>
      <input type="radio" class="female" class name="RadioGroup1" value="21">女性 *
    </label><br>
    お出かけする人数を選んでください<br>
    <select>
      <option value="1">1人</option>
      <option value="2">2人</option>
      <option value="3">3人</option>
      <option value="4">4人</option>
      <option value="5">5人</option>
      <option value="6">6人</option>
      <option value="7">7人</option>
      <option value="8">8人以上</option>
    </select> *<br>
  </div>
  <div class="free">
    メインスポット<br>
    <input type="text" placeholder="行きたいメインスポットはありますか？" class="main-spot"><br>
    食の好みはありますか？
    <select>
      <option value="9">特になし</option>
      <option value="10">日本食</option>
      <option value="11">イタリアン</option>
      <option value="12">中華</option>
      <option value="13">フランス料理</option>
      <option value="14">タイ料理</option>
      <option value="15">ラーメン</option>
      <option value="16">肉料理</option>
    </select><br>
  </div>
  <input type="submit" value="条件を送信する" class="submit">
</form>


<div class="contents2">
  <% @places.each do |place| %>
    <div class="content">
      <div class="content__left">
        <div class="content__left--image"><%= image_tag "#{place.image}", :size =>'150x150' %></div>
      </div>
      <div class="content__right">
        <div class="content__right__top">
          <%= place.name %>
        </div>
        <div class="content__right__top">
          <%= place.address %>
        </div>
        <div class="content__right__top">
          tel: <%= place.tel %>
        </div>
        <div class="content__right__top">
          <%= link_to "#{place.link}", "#{place.link}" %>
        </div>
        <div class="content__right__bottom">
          <div class="content__right__bottom--date">
            <%= place.created_at %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>