<div class="resultcontents">
  <div class="resultcontent">
    <div class="resultcontent__top">
      <div class="resultcontent__top--image"><%= image_tag "#{@place.image}", :size =>'300x150' %></div>
    </div>
    <div class="resultcontent__bottom">
      <div class="resultcontent__bottom__name">
        <%= @place.name %>
      </div>
      <div class="resultcontent__bottom__address">
        <%= @place.address %>
      </div>
      <div class="resultcontent__bottom__link">
        <%= link_to "#{@place.link}", "#{@place.link}" %>
      </div>
    </div>
  </div>
  <div class="if-form">
    <%= render partial: "form" %>
  </div>
</div>

<%= render partial: "place"%>